.gsd-keyboard.settings-ported
BetterDiscord/
KDE/
QtProject.conf
Trolltech.conf
UNIGINE/
akregatorrc
alacritty/
baloofilerc
cef_user_data/
dconf/
discord/
dolphinrc
enchant/
environment.d/
evolution/
gh/
gnome-control-center/
gnome-initial-setup-done
google-chrome/
gtk-3.0/
gtk-4.0/
gtkrc
gtkrc-2.0
gwenviewrc
home-manager/
hypr/
kactivitymanagerd-statsrc
kactivitymanagerdrc
kateschemarc
kcminputrc
kconf_updaterc
kde.org/
kded5rc
kdedefaults/
kdeglobals
kglobalshortcutsrc
khotkeysrc
kitty/
kmixrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwinrc
kwinrulesrc
kxkbrc
menus/
mimeapps.list
neofetch/
nvim/
okularpartrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmashellrc
powermanagementprofilesrc
pulse/
raycast/
skhd/
spectaclerc
spotify/
starship.toml
startkderc
user-dirs.dirs
user-dirs.locale
whatsapp-for-linux/
wootility/
xsettingsd/
yabai/
zellij/
